# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven build outputs
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE specific files
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.metadata/
.recommenders/
.vscode/
*.code-workspace
.history/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Local tools folder (crucial to avoid committing JDK/Maven binaries)
tools/
/tools/
../tools/
**/tools/
